extends ../components/base/layout

block variables
  - const title = "Blog" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--dark"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "blog.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const breadcrumbsBlog = [
      {
        name: "Home",
        href: "index.html",
        current: false,
      },
      {
        name: "Blog",
        href: "#",
        current: false,
      },
      {
        name: "Bringing Designs to Life: How VR is Changing Architecture",
        href: "#",
        current: true,
      },
    ]

block main
  main
    .page-content
      .container
        +breadcrumbs(breadcrumbsBlog)

      .inner-wrapper.container
        div
          +text-content()
          +tags-list(tagsList1)
        div
          +blog-list()
          +tags-list(tagsList2)

      +subscribe()

block modals
