extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#links") Ссылки
            li
              a(href="#buttons") Кнопки
            li
              a(href="#breadcrumbs") Хлебные крошки
            li
              a(href="#social") Социальные сети
            li
              a(href="#titles") Заголовки
            li
              a(href="#users") Пользователи
            li
              a(href="#benefits") Преимущества
            li
              a(href="#services") Сервисы
            li
              a(href="#subscribe") Блок с формой

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          +icon("icon-logo", 300, 150)
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Ссылки
        section.uikit__section(id="links")
          h2.uikit__h2 Ссылки
          .uikit__component
            p.uikit__text.uikit__text--class .link \ default \ link
            +link("#", "Ссылка")
            pre
              |
              code(class="language-pug").
                +link("#", "Ссылка")
          .uikit__component
            p.uikit__text.uikit__text--class .link \ link--header
            +link("#", "Ссылка").link--header
            pre
              |
              code(class="language-pug").
                +link("#", "Ссылка").link--header


        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ default \ button
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .btn--gradient
            +btn({text: "Read more", href: "#", isExternal: true}).btn--gradient
            pre
              |
              code(class="language-pug").
                +btn({text: "Read more", href: "#", isExternal: true}).btn--gradient
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .btn--border-gradient
            +btn({text: "Learn more", href: "#", isExternal: true}).btn--border-gradient
            pre
              |
              code(class="language-pug").
                +btn({text: "Learn more", href: "#", isExternal: true}).btn--border-gradient
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .btn--border-gradient \ .btn--border-gradient-fw300
            +btn({text: "Contact us", href: "#", isExternal: true}).btn--border-gradient.btn--border-gradient-fw300
            pre
              |
              code(class="language-pug").
                +btn({text: "Contact us", href: "#", isExternal: true}).btn--border-gradient.btn--border-gradient-fw300
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .btn--icon
            +btn({type: "submit", iconName: "icon-send", iconWidth: 17, iconHeight: 17}).btn--icon
            pre
              |
              code(class="language-pug").
                +btn({type: "submit", iconName: "icon-send", iconWidth: 17, iconHeight: 17}).btn--icon
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)


        //- Хлебные крошки
        section.uikit__section(id="breadcrumbs")
          h2.uikit__h2 Хлебные крошки
          .uikit__component
            p.uikit__text.uikit__text--class .breadcrumbs
            +breadcrumbs([
              {
                name: "Home",
                href: "index.html",
                current: false,
              },
              {
                name: "Ui-kit",
                href: "#",
                current: true,
              },
            ])
            pre
              |
              code(class="language-pug").
                +breadcrumbs([
                  {
                    name: "Home",
                    href: "index.html",
                    current: false,
                  },
                  {
                    name: "Ui-kit",
                    href: "#",
                    current: true,
                  },
                ])


        //- Социальные сети
        section.uikit__section(id="social")
          h2.uikit__h2 Социальные сети
          .uikit__component
            p.uikit__text.uikit__text--class .social
            +social({
              href: "#",
              ariaLabel: "twitter",
              iconName: "icon-x",
              iconWidth: 20,
              iconHeight: 15,
            })
            pre
              |
              code(class="language-pug").
                +social({
                  href: "#",
                  ariaLabel: "twitter",
                  iconName: "icon-x",
                  iconWidth: 20,
                  iconHeight: 15,
                })


        //- Заголовки
        section(id="titles")
          h2.uikit__title-h2 Заголовки
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h1
            p.title.title--h1 Заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h2
            p.title.title--h2 Заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h3
            p.title.title--h3 Заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h4
            p.title.title--h4 Заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--gradient
            p.title.title--gradient Заголовок


        //- Пользователи
        section.uikit__section(id="users")
          h2.uikit__h2 Пользователи
          .uikit__component
            p.uikit__text.uikit__text--class .users
              +users()
            pre
              |
              code(class="language-pug").
                +users()


        //- Преимущества
        section.uikit__section(id="benefits")
          h2.uikit__h2 Преимущества
          .uikit__component
            p.uikit__text.uikit__text--class .benefits
              +benefits({
                imgName: "service",
                title: "Service",
                text: "We&nbsp;believe in&nbsp;providing exceptional customer service, from initial consultation to&nbsp;final delivery."
              })
            pre
              |
              code(class="language-pug").
                +benefits({
                  imgName: "service",
                  title: "Service",
                  text: "We&nbsp;believe in&nbsp;providing exceptional customer service, from initial consultation to&nbsp;final delivery."
                })

        //- Сервисы
        section.uikit__section(id="services")
          h2.uikit__h2 Сервисы
          .uikit__component
            p.uikit__text.uikit__text--class .services
              +services({
                iconName: "icon-development",
                iconWidth: 48,
                iconHeight: 48,
                title: "VR&nbsp;Development",
                text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
              })
            pre
              |
              code(class="language-pug").
                +services({
                  iconName: "icon-development",
                  iconWidth: 48,
                  iconHeight: 48,
                  title: "VR&nbsp;Development",
                  text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life.",
                })


        //- Блок с формой
        section.uikit__section(id="subscribe")
          h2.uikit__h2 Блок с формой
          .uikit__component
            p.uikit__text.uikit__text--class .subscribe
              +subscribe()
            pre
              |
              code(class="language-pug").
                +subscribe()

  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
