mixin benefits-block()
  section.benefits-block.section&attributes(attributes)
    .container
      .benefits-block__title-wrap
        p.title--gradient Why choose&nbsp;us
        h2.title.title--h2 Empowering Your Virtual Reality Experience
      +benefits()
