mixin benefits-block()
  section.benefits-block.section&attributes(attributes)
    .container
      +title-wrap({
        titleGradient: "Why choose&nbsp;us",
        titleH2: "Empowering Your Virtual Reality Experience",
      })
      +benefits()
