mixin blog-head()
  .blog-head&attributes(attributes)
    p.blog-head__tag VR Architecture
    h2.title.title--h2 Bringing Designs to Life: How VR is Changing Architecture
    p.blog-head__wrap-date
      span Nasyiya ulfa |
      +date({dataTime: "2022-11-25", date: "25&nbsp;nov 2022"})
