mixin contacts()
  .contacts&attributes(attributes)
    p.contacts__title Need Help?
    a.contacts__link.link(href="#") Tanjung Sari Street no.48, Pontianak City
      +icon("icon-mark", 20, 20)
    a.contacts__link.link(href="mailto:Support@VRNas.com") Support@VRNas.com
      +icon("icon-message", 20, 20)
    a.contacts__link.link(href="tel:1234567890") +123 456 7890
      +icon("icon-phone", 20, 20)
