mixin subscribe()
  section.subscribe&attributes(attributes)
    .container
      .subscribe__wrapper
        h2.title.title--h2.title--fsz40 Subscribe to our newsletter for latest updates
        +form()
