.btn {
  display: inline-flex;
  padding: 18px;

  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: $color-default-white;

  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;

  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--gradient {
    background: $gradient;
  }

  &--border-gradient {
    border: 1px solid $color-transparent;
    border-image: $gradient;
    border-image-slice: 1;
  }

  &--border-gradient-fw300 {
    padding: 12px;

    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    text-transform: initial;
    letter-spacing: normal;
  }
}
