.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;
  padding: 15px 60px 15px 48px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      min-height: 24px;

      border: 2px solid $color-transparent;
      border-radius: 2px;
      outline: none;

      background-color: $color-transparent;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }
    }
  }

  input::placeholder {
    color: $color-default-white;

    @include vp-419 {
      font-size: 12px;
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid $color-coral-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-coral-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid $color-jade;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-jade, 0.5);
      }
    }
  }
}
