.inner-wrapper {
  padding-bottom: 143px;

  display: grid;
  grid-template-columns: 790px auto;
  column-gap: 77px;

  @include vp-1279 {
    padding-bottom: 100px;
    grid-template-columns: 1fr;
  }

  & > div:first-of-type {
    @include vp-1279 {
      padding-bottom: 100px;
    }
  }
}
