.intro {
  position: relative;

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: auto;

    @include vp-1279 {
      // width: 100%;
      top: 25%;
    }

    @include vp-767 {
      width: 100%;
    }

    @media screen and (min-width: 1920px) {
      display: none;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 44%;
    column-gap: 124px;

    @include vp-1279 {
      grid-template-columns: 1fr;
    }
  }

  &__col1 {
    padding-top: 73px;
  }

  &__col2 {
    position: relative;

    @include vp-1279 {
      width: calc(100% + 32px);
      margin: 0 -16px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }

  &__img-container {
    position: relative;
    width: 526px;
    height: 626px;

    @include vp-1279 {
      width: 354px;
      height: 422px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include vp-767 {
        object-fit: cover;
        object-position: left;
      }
    }
  }

  &__img-container-small {
    position: absolute;
    bottom: 66px;
    left: -318px;

    width: 196px;
    height: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black-russian-2;

    @include vp-1279 {
      position: relative;
      left: 16px;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .users {
    margin-top: 73px;
    margin-bottom: 15px;
  }

  .btn {
    margin-bottom: 5px;
    padding: 18px 38px;
  }
}
