.link {
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  color: $color-default-white;
  background-color: $color-transparent;
  border: none;

  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  &--header {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;

    transition: text-shadow $trans-default;

    @include hover-focus {
      text-shadow: 0 0 1.5px $color-default-white, 0 0 1.5px $color-default-white;
      opacity: 1;
    }
  }
}
