mixin logo()
  .logo&attributes(attributes)
    if(currentUrl === "index.html")
      span.logo__icon
        +icon("icon-logo", 101, 30, true)
    else
      a.logo__icon(href="index.html", aria-label="Переход на главную")
        +icon("icon-logo", 101, 30, true)
