-
  const socialList = [
    {
      href: "#",
      ariaLabel: "twitter",
      iconName: "icon-x",
      iconWidth: 20,
      iconHeight: 15,
    },
    {
      href: "#",
      ariaLabel: "facebook",
      iconName: "icon-fb",
      iconWidth: 12,
      iconHeight: 21,
    },
    {
      href: "#",
      ariaLabel: "instagram",
      iconName: "icon-insta",
      iconWidth: 24,
      iconHeight: 23,
    },
    {
      href: "#",
      ariaLabel: "github",
      iconName: "icon-git",
      iconWidth: 22,
      iconHeight: 22,
    },
  ]

mixin social()
  ul.social
    each item in socialList
      li.social__item
        a.social__link(href=item.href, aria-label=item.ariaLabel)
          +icon(item.iconName, item.iconWidth, item.iconHeight)
