mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Home"
      },
      {
        href: "#",
        text: "About us"
      },
      {
        href: "#",
        text: "Service"
      },
      {
        href: "#",
        text: "Pricing Plan",
      },
      {
        href: "#",
        text: "Blog",
      },
    ]

  header.header(data-header)&attributes(attributes)
    .container
      .header__wrapper
        .header__top-block
          +logo()
          button.header__toggle.btn-reset.btn--border-gradient(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-header-toggle)
            +icon("icon-burger", 12, 8)
        nav.header__nav
          ul.header__nav-list(data-header-list)
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header__nav-item
                if(activeState)
                  span.link.link--header.is-active= link.text
                else
                  a.link.link--header(href=link.href)= link.text
        +btn({text: "Contact us", href: "#"}).btn.btn--border-gradient.btn--border-gradient-fw300
